.toast {
  @apply flex justify-between items-start rounded-lg font-peyda p-4 sm:w-80 max-w-full;

  &.success {
    @apply bg-sc-green-100 text-sc-green-normal;
  }

  &.warning {
    @apply bg-sc-brown-500 text-sc-brown-800;
  }

  &.error {
    @apply bg-sc-red-200 text-sc-red-normal;
  }

  &.info {
    @apply bg-sc-purple-normal text-sc-blue-normal;
  }

  button {
    @apply ml-2 bg-none border-none text-white cursor-pointer text-lg;
  }

  &.success button {
    @apply text-sc-green-normal;
  }

  &.warning button {
    @apply text-sc-brown-800;
  }

  &.error button {
    @apply text-sc-red-normal;
  }

  &.info button {
    @apply text-sc-blue-normal;
  }

  &.fadeIn {
    animation: fadeIn 0.3s ease-out;
  }

  &.fadeOut {
    animation: fadeOut 0.3s ease-in forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
