/*Responsive table*/

.checkoutTable {
    border-radius: 10px; /* Adjust the value to your preference */

    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: auto;
}

.checkoutTable caption {
    margin: 0.5em 0 0.75em;
}

.checkoutTable tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;

    text-align: center;
    white-space: nowrap;
    padding: 0.35em;
}
.checkoutTable thead tr {
    @apply bg-sc-purple-normal border border-gray-400 rounded-t-lg;
}
.checkoutTable th,
checkoutTable td {
    padding: 0.625em;
    text-align: center;
}

.checkoutTable td {
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .checkoutTable {
        border: 0;
    }

    .checkoutTable caption {
        font-size: 1.3em;
    }

    .checkoutTable thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .checkoutTable tr {
        border-bottom: 3px solid #ddd;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 0.625em;
    }

    .checkoutTable td {
        border-bottom: 1px solid #ddd;
        display: flex;
        gap: 10px;

        justify-content: space-between;
        direction: rtl;
        font-size: 0.8em;
        text-align: justify;
        white-space: wrap;
    }

    .checkoutTable td::after {
        /*
   * aria-label has no advantage, it won't be read inside a table
   content: attr(aria-label);
   */
        content: attr(data-label);
        float: right;
        font-weight: bold;
        text-transform: uppercase;
    }

    .checkoutTable td:first-child {
        border-bottom: 0;
    }
}
